#CustomPrecache
{
	visibility: visible;


	background-image: url("file://{images}/heroes/npc_dota_hero_kez.png");
	background-image: url("file://{images}/heroes/roland.png");
	background-image: url("file://{images}/heroes/selection/npc_dota_hero_kez.png");
	background-image: url("file://{images}/heroes/icons/npc_dota_hero_kez.png");

	background-image: url("file://{images}/heroes/npc_dota_hero_shredder.png");
	background-image: url("file://{images}/heroes/sukuna.png");
	background-image: url("file://{images}/heroes/selection/npc_dota_hero_shredder.png");
	background-image: url("file://{images}/heroes/icons/npc_dota_hero_shredder.png");
}